@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}
.nav-container {
  background-color: #212121;
  height: 160px;
}
.nav-left {
  display: flex;
  flex-direction: row;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.nav-items-left li a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.nav-items-center li a:hover {
  color: rgba(255, 255, 255, 0.8);
}

/*.nav-section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
}*/
.nav-section1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 120px;
}

.nav-items-left {
  list-style-type: none;
}
.nav-items-left li {
  display: inline-block;
}
.nav-items-left li:not(:first-child) {
  padding-left: 15px;
}
.nav-items-left li:not(:last-child){
  padding-right: 15px;
  border-right: 1px solid #5C5C5C;
}
.nav-items-left li a {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #ffff;
  text-decoration: none;
}

.nav-items-right li {
  display: inline-block;
}
.nav-phone {
  margin-top: 44px;
  margin-left: 50px;
  color: #a6a6a6;
  font-weight: bold;
}
.nav-items-left {
  margin-top: 47px;
  margin-left: 37px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}
.nav-logo {
  display: flex;
  justify-content: center;
}
.nav-logo a {
  margin-top: 30px;
}
.nav-search {
  margin-top: 34px;
  height: 40px;
  width: 240px;
  border-bottom: 1px solid #5c5c5c;
}
.nav-search input {
  margin-left: 5px;
  border: none;
  background-color: #212121;
  width: 190px;
  color: #767676;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
}
.search-btn img {
  padding: 10px 0 0 10px;
}
.nav-items-right {
  margin-top: 40px;
}
.nav-items-right li {
  margin-left: 50px;
}
.nav-items-right li:last-child {
  margin-right: 50px;
}
.nav-section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 40px;
}
.nav-items-center {
  list-style-type: none;
  margin-bottom: 16px;
  width: 1300px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-items-center li {
  display: inline-block;
}
.nav-items-center li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffff;
}

.alony_sav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #fee1e6;
}
.alony_sav p {
  color: #f67da1;
}
.alony_sav img {
  margin-right: 20px;
}
.cross-axis {
  background-color: red;
  width: 1px;
  height: 4200px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.slide input {
  display: none;
}
#slider {
  position: relative;
  overflow: hidden;
}
.slide {
  width: 500%;
  display: flex;
}
.content {
  background-color: #fee1e6;
  background-image: url("./assets/rose.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 700px;
  width: 20%;
  transition: 1s;
}

.nav-manual {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 680px;
}

.m-btn {
  background-color: rgba(33, 33, 33, 0.1);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.m-btn:not(:last-child) {
  margin-right: 15px;
}
.m-btn:hover {
  background-color: rgba(33, 33, 33, 0.9);
}
#radio1:checked ~ .first {
  margin-left: 0%;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
#radio5:checked ~ .first {
  margin-left: -80%;
}
.nav-auto {
  position: absolute;
  width: 100vw;
  margin-top: 680px;
  display: flex;
  justify-content: center;
}
.nav-auto div {
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.nav-auto div:not(:last-child) {
  margin-right: 15px;
  justify-content: center;
}
#radio1:checked ~ .nav-auto .a-b1 {
  background-color: #212121;
}
#radio2:checked ~ .nav-auto .a-b2 {
  background-color: #212121;
}
#radio3:checked ~ .nav-auto .a-b3 {
  background-color: #212121;
}
#radio4:checked ~ .nav-auto .a-b4 {
  background-color: #212121;
}
#radio5:checked ~ .nav-auto .a-b5 {
  background-color: #212121;
}
.arrow-next {
  position: absolute;
  right: 21.56px;
  top: 50%;
  width: 18px;
  height: 30px;
}
.arrow-button {
  width: 18px;
  height: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.arrow-prev {
  position: absolute;
  left: 20.56px;
  top: 50%;
  width: 18px;
  height: 30px;
}
.content h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 130px;
  line-height: 130px;
  text-transform: uppercase;
  color: #212121;
  margin-top: 253px;
  margin-left: 176px;
}
.content p {
  width: 580px;
  margin-left: 184px;
  margin-top: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: #ba8b88;
}
.content button {
  margin-left: 184px;
  margin-top: 34px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #212121;
  width: 210px;
  height: 50px;
}
.mosaic {
  display: flex;
  justify-content: center;
}
.mosaic-container {
  margin-top: 70px;
  width: 1780px;
  height: 820px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "bigban1 bigban1 smallban2 smallban3"
    "smallban4 smallban5 bigban6 bigban6";
  gap: 20px 20px;
}

.h-text {
  font-weight: 500;
  font-size: 38px;
  line-height: 56px;
  text-transform: uppercase;
}
.mosaic-content1 {
  grid-area: bigban1;
  font-style: normal;
  color: #212121;
  background-image: url("./assets/bigban1.png");
  background-repeat: no-repeat;
}
.mosaic-content1 h3 {
  margin-top: 47px;
  margin-left: 40px;
}
.mosaic-content2 {
  background-image: url("./assets/smallban2.png");
  color: #fff;
  grid-area: smallban2;
  background-repeat: no-repeat;
}
.mosaic-content2 h3 {
  margin-top: 47px;
  margin-left: 40px;
}
.mosaic-content3 {
  color: #212121;
  background-image: url("./assets/smallban3.png");
  grid-area: smallban3;
  background-repeat: no-repeat;
}
.mosaic-content3 h3 {
  float: right;
  margin-top: 47px;
  margin-right: 40px;
}
.mosaic-content4 {
  color: #212121;
  background-image: url("./assets/smallban4.png");
  grid-area: smallban4;
  background-repeat: no-repeat;
}
.mosaic-content4 h3 {
  margin-top: 47px;
  margin-left: 40px;
}
.mosaic-content5 {
  background-image: url("./assets/smallban5.png");
  color: #fff;
  grid-area: smallban5;
  background-repeat: no-repeat;
}
.mosaic-content5 h3 {
  float: right;
  margin-top: 47px;
  margin-right: 40px;
}
.mosaic-content6 {
  background-image: url("./assets/bigban6.png");
  color: #212121;
  grid-area: bigban6;
  background-repeat: no-repeat;
}
.mosaic-content6 h3 {
  float: right;
  margin-top: 47px;
  margin-right: 40px;
}

.discount-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 146px;
}
.discount-container h2 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}
.products-container {
  margin: 78px 70px 0 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product h3 {
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}
.product > p {
  margin-top: 13px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #a2a2a2;
}
.product button {
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  width: 160px;
  height: 50px;
  background-color: #212121;
  margin-left: auto;
  margin-right: auto;
  margin: 30px auto 0 auto;
}
.price span {
  font-size: 14px;
  text-decoration-line: line-through;
  font-weight: normal;
  color: #a1a1a1;
  margin-right: 15px;
}
.product > .price {
  margin-top: 25px;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
}
.all-discount-btn {
  width: 300px;
  height: 50px;
  margin: 85px auto 0 auto;
  border: 1px solid #212121;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #212121;
}
.vdinamic-container {
  margin-top: 130px;
  display: flex;
  justify-content: center;
}
.vdinamic-content {
  margin-left: 70px;
  margin-right: 70px;
  width: 100vw;
  height: 500px;
  background-image: url("./assets/image\ 36.png");
  background-size:100% 100%;
  background-repeat: no-repeat;
  
}
.layer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color:rgba(246, 125, 161, 0.9);
  
}
.vdinamic-content h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}
.vdinamic-content p {
  margin-top: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #763648;
}
.vdinamic-content button {
  margin-top: 44px;
  width: 210px;
  height: 50px;
  background: #212121;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-container{
  margin-top: 100px;
  background: #212121;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.footer-wrap{
  height: 460px;
}
.footer-content1{
  margin-top: 41px;;
  display: flex;
  justify-content: center;
}
.footer-items{
  list-style-type: none;
  margin-bottom: 16px;
  height: 20px;
  display: flex;
  flex-direction: row;
}
.footer-items li{
  font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #A6A6A6;
}
.footer-items li a{
  text-decoration: none;
  font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #FFFFFF;
}
.footer-items li:nth-child(2){
color:#FFFFFF;
}
.footer-items li:not(:last-child){
  padding-right: 20px;
  border-right: 1px solid #5C5C5C;
}
.footer-items li:not(:first-child){
  padding-left: 20px;
}

.footer-content2{
  margin-top: 42px;;
  display: flex;
  justify-content: center;
}
.centering{
  display: flex;
  justify-content: center;
}
.footer-wrap div p {
  max-width: 1170px;
  text-align: center;
  color: rgba(118, 118, 118, 1);
}
.copyright{
  margin-top: 41px;
}
.social{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.social img:not(:last-child){
  margin-right:30px ;
}
.szallfiz{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}