@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

body {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.nav-hb-wrapper {
  position: absolute;
  top: 15px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.nav-hamburger-button {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #f67da1;
  border-radius: 5px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.nav-hamburger-button:hover {
  background-color: rgba(246, 125, 161, 0.2);
}
.nav-hamburger-button div {
  width: 1.5rem;
  height: 2px;
  background-color: #f67da1;
}
.nav-hamburger-button div:first-child {
  margin-top: 10px;
}
.nav-hamburger-button div:last-child {
  margin-bottom: 10px;
}
.nav-container {
  background-color: #212121;
  min-height: 160px;
  height: auto;
}
.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
.nav-items-left li a:hover,
.nav-items-center li a:hover,
.footer-items a:hover {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid #f67da1;
  padding-bottom: 10px;
}
.nav-right svg:hover,
.social svg:hover {
  fill: #f67da1;
}
.nav-section1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 3fr;
  grid-template-columns: 3fr 1fr 3fr;
  height: 120px;
}

.nav-items-left {
  list-style-type: none;
}
.nav-items-left li {
  display: inline-block;
}
.nav-items-left li:not(:first-child) {
  padding-left: 13px;
  border-left: 1px solid #5c5c5c;
}
.nav-items-left li:not(:last-child) {
  padding-right: 13px;
}
.nav-items-left li a {
  font-weight: 400;
  font-size: 12px;
  color: #ffff;
  text-decoration: none;
}

.nav-phone {
  margin-top: 44px;
  margin-left: 49px;
  color: #a6a6a6;
  font-weight: bold;
}
.nav-items-left {
  margin-top: 47px;
  margin-left: 39px;
  font-weight: 500;
  font-size: 12px;
}
.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.nav-logo a {
  margin-top: 35px;
  margin-left: -5px;
  width: 203px;
  height: 45px;
}
.nav-logo a svg {
  margin: 0 auto;
  display: block;
}
.nav-search {
  margin: 34px 15px 0 0;
  height: 40px;
  width: 240px;
  border-bottom: 1px solid #5c5c5c;
}
.nav-search input {
  margin-left: 5px;
  border: none;
  background-color: #212121;
  width: 190px;
  height: 30px;
  color: #767676;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
}
.nav-search input:focus {
  outline: none;
}

.search-btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.search-btn svg {
  padding: 10px 0 0 10px;
}
.nav-items-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 215px;
  margin-top: 40px;
  margin-right: 25px;
}
.nav-items-right li {
  display: inline-block;
  margin: 0 auto;
}
.nav-items-right li:not(:last-child) {
  margin-top: 2px;
}
.nav-section2 {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 40px;
  margin-left: -5px;
}
.nav-items-center {
  list-style-type: none;
  margin: 0 10px 16px 10px;

  width: 1300px;
  min-height: 20px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.nav-items-center li {
  display: inline-block;
}
.nav-items-center li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffff;
}
.alony_sav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  width: 100%;
  color: #fee1e6;
}
.alony_sav p {
  color: #f67da1;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.alony_sav svg {
  margin-right: 20px;
}
.content {
  background-color: #fee1e6;
  background-image: url("./assets/rose.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 700px !important;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.next-Arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}
.slick-arrow {
  width: 18px;
  height: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.prev-Arrow {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}

.slick-dots {
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style: none;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 10px;
}
.slick-dots button {
  display: block;
  font-size: 0;
  width: 10px;
  height: 10px;
  border: none;
  background: rgba(33, 33, 33, 0.2);
  border-radius: 50%;
}
.slick-dots li.slick-active button {
  background: #212121;
}
.content h2 {
  font-weight: bold;
  font-size: 8.125rem;
  line-height: 8.125rem;
  text-transform: uppercase;
  color: #212121;
  margin-top: 253px;
  margin-left: 177px;
}
.content p {
  max-width: 580px;
  margin-left: 185px;
  margin-top: 17px;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: #ba8b88;
}
.content button {
  margin-left: 185px;
  margin-top: 38px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  font-family: Quicksand;
  font-style: normal;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #212121;
  width: 210px;
  height: 50px;
}
.content button svg {
  padding-left: 1rem;
}
.content button:hover {
  background-color: rgba(33, 33, 33, 0.9);
}
.content button img {
  margin-left: 17px;
}
.mosaic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mosaic-container {
  margin: 70px 40px 0 40px;
  width: 1780px;
  height: 820px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "bigban1 bigban1 smallban2 smallban3"
    "smallban4 smallban5 bigban6 bigban6";
  gap: 20px 20px;
}

.h-text a {
  text-decoration: none;
  color: black;
  display: block;
  height: 100%;
}
.h-text a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.h-text a h3 {
  font-weight: 500;
  font-size: 38px;
  line-height: 56px;
  text-transform: uppercase;
}
.mosaic-content1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: bigban1;
  background-image: url("./assets/bigban1.jpg");
  background-repeat: no-repeat;
}
.mosaic-content1 h3 {
  padding-top: 47px;
  padding-left: 40px;
}
.mosaic-content2 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  background-image: url("./assets/smallban2.jpg");
  background-position: right;
  grid-area: smallban2;
  background-repeat: no-repeat;
}
.mosaic-content2 h3 {
  padding-top: 47px;
  padding-left: 40px;
}
.mosaic-content3 {
  -ms-grid-row: 1;
  -ms-grid-column: 7;

  background-image: url("./assets/smallban3.jpg");
  grid-area: smallban3;
  background-repeat: no-repeat;
}
.mosaic-content3 h3 {
  float: right;
  padding-top: 47px;
  padding-right: 40px;
}
.mosaic-content4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;

  background-image: url("./assets/smallban4.jpg");
  grid-area: smallban4;
  background-repeat: no-repeat;
}
.mosaic-content4 h3 {
  padding-top: 47px;
  padding-left: 40px;
}
.mosaic-content5 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  background-image: url("./assets/smallban5.jpg");

  grid-area: smallban5;
  background-repeat: no-repeat;
}
.mosaic-content5 h3 {
  float: right;
  padding-top: 47px;
  padding-right: 40px;
}
.mosaic-content6 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  background-image: url("./assets/bigban6.jpg");

  grid-area: bigban6;
  background-repeat: no-repeat;
}
.mosaic-content6 h3 {
  float: right;
  padding-top: 47px;
  padding-right: 40px;
}
.discount-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 145px;
}
.discount-container h2 {
  font-family: Quicksand;
  font-weight: normal;
  font-size: 28px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}
.wrap-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.products-container {
  margin: 48px 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.product {
  width: 400px;
  padding-left: 30px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.product h3 {
  margin-top: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}
.product > p {
  margin: 0 auto 0 auto;
  margin-top: 13px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #a2a2a2;
  max-width: 340px;
}
.product button {
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  width: 160px;
  height: 50px;
  background-color: #212121;
  margin-left: auto;
  margin-right: auto;
  margin: 30px auto 0 auto;
}
.product button:hover {
  background-color: rgba(33, 33, 33, 0.9);
}
.product-img {
  position: relative;
}
.product .heart-button {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 7px;
  right: 7px;
  width: 20px;
  height: 20px;
  margin: 0;
  z-index: 2;
}
.product .heart-button:hover {
  background-color: rgba(0, 0, 0, 0);
}
.product-img svg:last-child {
  position: absolute;
  top: 0;
  right: 0;
}
.price span {
  font-size: 14px;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  font-weight: normal;
  color: #a1a1a1;
  margin-right: 15px;
}
.product > .price {
  margin-top: 30px;
  color: #212121;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
}
.all-discount-btn {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  width: 300px;
  height: 50px;
  margin: 85px auto 0 auto;
  border: 1px solid #212121;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #212121;
}
.all-discount-btn:hover {
  background-color: rgba(33, 33, 33, 0.1);
}
.all-discount-btn svg {
  margin-left: 19px;
}

.vdinamic-container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.vdinamic-content {
  max-width: 1780px;
  margin-left: 70px;
  margin-right: 70px;
  width: 100vw;
  height: 500px;
  background-image: url("./assets/image36.jpg");

  background-repeat: no-repeat;
  background-position: center;
}
.layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(246, 125, 161, 0.9);
}
.layer button:hover {
  background-color: rgba(33, 33, 33, 0.9);
}
.layer button svg {
  margin-left: 17px;
}
.vdinamic-content {
  margin-top: 80px;
}
.vdinamic-content h2 {
  margin-top: 25px;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}
.vdinamic-content p {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #763648;
}
.vdinamic-content button {
  margin-top: 44px;
  width: 210px;
  height: 50px;
  background: #212121;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-container {
  margin-top: 100px;
  background: #212121;
  min-height: 460px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer-wrap {
  margin-top: 2px;
  min-height: 460px;
  height: auto;
}
.footer-content1 {
  height: 17px;
  margin-top: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer-items {
  list-style-type: none;
  margin-bottom: 16px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer-items li {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a6a6a6;
}
.footer-items li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
.footer-items li a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.footer-items li:nth-child(2) {
  color: #ffffff;
}
.footer-items li:not(:last-child) {
  padding-right: 20px;
  border-right: 1px solid #5c5c5c;
}
.footer-items li:not(:first-child) {
  padding-left: 20px;
}
.footer-content2 {
  margin-top: 42px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.centering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer-wrap div p {
  max-width: 1170px;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: #767676;
}
.copyright {
  margin-top: 35px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #a6a6a6;
}
.social {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.social a:not(:last-child) {
  margin-right: 30px;
}
.szallfiz {
  min-height: 80px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropdown-btn svg {
  margin-left: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #212121;
  min-width: 130px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.rating-stars {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.rate p {
  float: right;
  font-weight: 500;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  color: #a2a2a2;
}
.rate {
  height: 20px;
  width: 170px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}

.lang {
  margin-top: 25px;
  margin-bottom: 20px;
}
.lang ul {
  list-style-type: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.lang ul li {
  display: inline-block;
}
.lang ul li a {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  text-decoration: none;
}
.lang ul li:last-child {
  margin-left: 25px;
}
.lang ul li:first-child {
  padding-right: 10px;
  border-right: 1px solid #5c5c5c;
}
.lang ul li:nth-child(2) {
  padding-left: 10px;
  color: #767676;
}
.lang ul li:nth-child(2) a {
  color: #767676;
}
.curr {
  text-decoration: none;
  background: #212121;
  width: 60px;
  height: 30px;
  border: thin solid #5c5c5c;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}
.curr img {
  margin-left: 11px;
}
.dropbtn2 {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown2 {
  position: relative;
  display: inline-block;
}
.dropdown2 svg {
  padding-left: 10px;
}
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #212121;
  min-width: 70px;
  z-index: 1;
}
.dropdown-content2 a {
  color: #ffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content2 a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.dropdown2:hover .dropdown-content2 {
  display: block;
}

@media (max-width: 1200px) {
  /* Nav section */
  .nav-container {
    min-height: 180px;
  }
  .nav-section1 {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .nav-left {
    display: none;
  }
  .nav-items-center {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-items-center li {
    padding: 20px;
  }
  .nav-items-center li:hover {
    background-color: #f67da1;
  }
  .nav-hb-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .nav-right {
    justify-content: center;
  }
  .nav-items-right {
    margin-right: 0;
  }
  .nav-section2 {
    display: none;
  }
  /* Slider */
  .content h2 {
    font-size: 5rem;
    line-height: 5rem;
    margin-top: 150px;
    margin-left: 120px;
  }
  .content p {
    margin-left: 120px;
    margin-top: 1rem;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.77rem;
  }
  .content button {
    margin-left: 120px;
    margin-top: 38px;
    width: 210px;
    height: 50px;
  }
  /* Mosaic */
  .h-text {
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 3rem;
    text-transform: uppercase;
  }
  .mosaic-container {
    height: 620px;
  }
  /* Products*/
  /* Footer*/
  .footer-items li {
    margin: 30px 5px 0 5px;
  }
  .footer-content1,
  .footer-content2,
  .footer-items {
    height: auto;
  }
  .centering p {
    text-align: center;
    padding: 20px;
  }
}
@media (max-width: 992px) {
  /* Mosaic */
  .mosaic-container {
    height: 1640px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "bigban1 bigban1"
      "smallban2 smallban3"
      "smallban4 smallban5 "
      "bigban6 bigban6";
    gap: 20px 20px;
  }
  .h-text {
    background-position: center;
  }
  /*Product*/
  .products-container {
    margin: 48px 36.5px 0 36.5px;
  }
  .wrap-two .product:last-child {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  /*Nav*/
  .nav-logo svg {
    width: 170px;
    height: auto;
  }
  /* Slider */
  .content h2 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    margin-left: 90px;
  }
  .content p {
    margin-left: 90px;
    font-size: 1.1875rem;
    line-height: 1.5rem;
  }
  .content button {
    margin-left: 90px;
    width: 180px;
    height: 50px;
  }
  /* Mosaic */
  .h-text {
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 3rem;
    text-transform: uppercase;
  }
  .mosaic-container {
    height: 620px;
  }
  .mosaic-container {
    height: 1640px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px;
    grid-template-columns: repeat(1, 430px);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "bigban1 "
      "smallban2 "
      "smallban3"
      "smallban4  "
      "smallban5"
      "bigban6";
    gap: 20px 20px;
    justify-content: center;
  }
  .h-text {
    background-position: center;
  }
  /*Product*/
  .product {
    width: 300px;
    padding: 20px 10px 0 10px;
  }

  .main-product-image {
    width: 300px;
    height: auto;
  }
  /*Termeszetes szépségért*/
  .vdinamic-content {
    margin: 40px 30px 0 30px;
  }
  .vdinamic-content h2 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .vdinamic-content p {
    padding: 0 10px 0 10px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
  }
  /*Vdinamic*/
  .vdinamic-content {
    width: 100vw;
    height: 400px;
  }
}
@media (max-width: 576px) {
  /* Nav section */
  .nav-right {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .nav-hb-wrapper {
    left: 20px;
  }
  .nav-hamburger-button {
    width: 2rem;
    height: 2rem;
  }
  .nav-hamburger-button div {
    width: 1.25rem;
  }
  /* Mosaic */
  .mosaic-container {
    grid-template-columns: repeat(1, 340px);
    gap: 15px 15px;
  }
  /*Product*/
}
